<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title> Explaining Through Interface </title>
        <link rel="stylesheet" href="static/styles/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    </head>

    <body>
        <section class="msger">
            <header class="msger-header">
              <div class="msger-header-title">
                <i class="fas fa-bug"></i> Explainable Interface <i class="fas fa-bug"></i>
              </div>
            </header>

            <main class="msger-chat">
                <div class="msg left-msg">
                  <div class="msg-img"></div>
          
                  <div class="msg-bubble">
                    <div class="msg-info">
                      <div class="msg-info-name">chatbot</div>
                    </div>
          
                    <div class="msg-text">
                        Hi, I am a chatbot. I can assist you in understanding Explainability through this interface.
                        <br><br>
                         Please select the models for Explainability.
                         <br><br>   
                        <button class="cross-button">Cross Encoder</button>  
                        <button class="mono-button">Mono-T5</button>  
                    </div>
                  </div>
                </div>
              </main>
          
              <form class="msger-inputarea">
                <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
                <button type="submit" class="msger-send-btn">Send</button>
              </form>
          
            </section>

            <script src="static/scripts.js"></script>
    </body>
</html>